@font-face {
  font-family: "Josefin Sans";
  src: url("../../fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Josefin Sans";
  src: url("../../fonts/JosefinSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif; }

.heading {
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: white;
  font-size: 2.6rem; }

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.flex {
  display: flex; }

.text-center {
  text-align: center;
  padding: 2rem; }

@keyframes fadeInTop {
  0% {
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    transform: translateY(-50%);
    opacity: 1; } }

@media only screen and (min-width: 37.5em) {
  .heading {
    font-size: 4.8rem; } }

.app {
  min-height: 100vh;
  padding: 4.8rem 2.6rem 2rem 2.6rem;
  transition: all 0.2s ease-in-out; }
  .app .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat; }
  .app p.text-center {
    font-size: 1.4rem !important; }

.app--dark {
  background-color: #161722; }
  .app--dark .background {
    background-image: url("../../images/bg-mobile-dark.jpg"); }
  .app--dark .todolist__item {
    border-bottom: 1px solid #4d5066; }
  .app--dark .todoitem__text {
    color: #cacde8; }
    .app--dark .todoitem__text--done {
      color: #4d5066; }
  .app--dark .footer,
  .app--dark .filters {
    color: #777a92; }
  .app--dark .filters__button:hover {
    color: #cacde8; }
  .app--dark .todocontainer {
    background-color: #25273c; }
  .app--dark .todoform__input {
    color: #cacde8; }
  .app--dark p.text-center {
    color: #4d5066; }

.app--light {
  background-color: #fafafa; }
  .app--light .background {
    background-image: url("../../images/bg-mobile-light.jpg"); }
  .app--light .todolist__item {
    border-bottom: 1px solid #e4e5f1; }
  .app--light .todoitem__text {
    color: #484b6a; }
    .app--light .todoitem__text--done {
      color: #d2d3db; }
  .app--light .footer,
  .app--light .filters {
    color: #777a92; }
  .app--light .filters__button:hover {
    color: #484b6a; }
  .app--light .todocontainer {
    background-color: white;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.05); }
  .app--light .todoform__input {
    color: #393a4c; }
  .app--light p.text-center {
    color: #9394a5; }

@media only screen and (min-width: 37.5em) {
  .background {
    min-height: 30rem; }
  .app--dark .background {
    background-image: url("../../images/bg-desktop-dark.jpg"); }
  .app--light .background {
    background-image: url("../../images/bg-desktop-light.jpg"); } }

.todoapp {
  position: relative;
  z-index: 5;
  max-width: 54rem;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem 0; }
  .header__button {
    width: 2.6rem;
    height: 2.6rem;
    outline: none;
    border: none;
    background-color: transparent;
    background-position: center;
    cursor: pointer; }
    .header__button--dark {
      background-image: url("../../../images/icon-sun.svg"); }
    .header__button--light {
      background-image: url("../../../images/icon-moon.svg"); }

.todocontainer {
  min-height: 5.2rem;
  border-radius: 5px;
  height: max-content; }

.todoitem {
  display: flex;
  padding: 1.6rem 2rem;
  align-items: center;
  position: relative; }
  .todoitem__checkbox {
    flex: 0 0 2.5rem;
    display: block; }
  .todoitem__text {
    flex: 1 1;
    font-size: 1.5rem;
    transition: all 0.2s; }
    .todoitem__text--done {
      text-decoration: line-through;
      color: #d2d3db; }
  .todoitem__remove {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("../../../images/icon-cross.svg");
    background-size: cover; }
  .todoitem:hover .todoitem__remove {
    display: block !important;
    z-index: 15; }

.paragraph {
  width: 100%;
  display: inline;
  overflow-wrap: anywhere;
  padding-right: 2rem; }

@media only screen and (min-width: 37.5em) {
  .todoitem__remove {
    display: none;
    animation: fadeInTop 0.5s ease-in-out; } }

.todoform {
  display: flex;
  flex: 1 1;
  transition: all 0.3s;
  padding: 1.6rem 2rem; }
  .todoform__input {
    background-color: transparent;
    outline: none;
    border: none;
    flex: 1 1;
    font-size: 1.5rem;
    color: #777a92;
    font-weight: bold; }
    .todoform__input::placeholder {
      color: #4d5066;
      font-weight: normal; }
  .todoform:focus-within {
    box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.25); }

.checkbox-container {
  flex: 0 0 2rem;
  display: flex;
  min-height: 100%;
  align-items: center;
  margin-right: 1.2rem; }
  .checkbox-container .checkbox {
    position: relative;
    outline: none;
    display: block;
    cursor: pointer;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid #777a92;
    border-radius: 50%;
    transition: all 0.2s; }
    .checkbox-container .checkbox:hover:not(:disabled) {
      background: linear-gradient(#57ddff, #c058f3); }
    .checkbox-container .checkbox:hover:not(:disabled)::after {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 50%; }
    .checkbox-container .checkbox:checked {
      background: url("../../../images/icon-check.svg"), linear-gradient(#57ddff, #c058f3);
      background-position: center;
      background-repeat: no-repeat; }
    .checkbox-container .checkbox--light:hover:not(:disabled)::after {
      background-color: white; }
    .checkbox-container .checkbox--dark:hover:not(:disabled)::after {
      background-color: #25273c; }

.todocontainer.filters {
  justify-content: center; }

.active {
  color: #3a7bfd !important;
  font-weight: 500; }

.filters {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between; }
  .filters__button {
    margin: 1rem;
    text-transform: capitalize;
    color: currentColor;
    font-size: 1.4rem;
    transition: color 0.5s; }
  .filters--desktop {
    display: none; }

@media only screen and (min-width: 37.5em) {
  .filters--desktop {
    display: flex; }
  .filters--mobile {
    display: none; } }

.footer {
  justify-content: space-between;
  height: 5.2rem;
  font-size: 1.5rem; }
