*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: white;
  font-size: 2.6rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

//UTILITY CLASSES
.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
  padding: 2rem;
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@media only screen and (min-width: $medium) {
  .heading {
    font-size: 4.8rem;
  }
}
