.todoform {
  display: flex;
  flex: 1 1;
  transition: all 0.3s;
  padding: 1.6rem 2rem;

  &__input {
    background-color: transparent;
    outline: none;
    border: none;
    flex: 1 1;
    font-size: 1.5rem;
    color: $dark-dark-grayish-blue;
    font-weight: bold;

    &::placeholder {
      color: $dark-very-dark-grayish-blue;
      font-weight: normal;
    }
  }

  &:focus-within {
    box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.25);
  }
}
